.echo-text-bold {font-weight: bold;}
.echo-text-italic {font-style: italic;}
.echo-text-underline {border-bottom: 1px solid var(--echo-span-color, #000);}
.echo-text-typewrite {background-color: rgba(0, 0, 0, 0.05); border-bottom: 1px dotted var(--echo-span-color, #000);}

@keyframes echo-text-rock-y {
    0% {position: relative; top: 0px;}
    25% {position: relative; top: -2px;}
    75% {position: relative; top: 2px;}
    100% {position: relative; top: 0px;}
}
.echo-text-rock-y {
    animation: echo-text-rock-y .5s infinite;
}

#echo-live {
    position: relative;
}

/* 连接不上sse服务器的提示样式 */
#echo-live .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    text-shadow: 0 0 4px black;
}

#echo-live .mask .title {
    font-size: 2em;
    animation: err-text infinite 2s;
    margin-bottom: 4px;
}

@keyframes err-text {
    0% {
        color: white;
    }
    50% {
        color: red;
    }
    100% {
        color: white;
    }
}

#echo-live .mask .description {
    color: white;
    margin-top: 2px;
}

#echo-live .mask .code-block {
    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
    padding: 2px;
}